@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(36, 36, 39, 0.87);
  background-color: #e6e7f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}

.small-scrollbar::-webkit-scrollbar {
  width: 4px;
}

@media screen and (min-width: 668px) {
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e5e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c8c8c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}

@media (pointer: coarse) {
  .touch-device\:hidden {
    display: none;
  }
}
